:root {
  --primary600: #0876DD;
  --primary100: #E0F2FE;
  --secondary600: #29D2D3;
  --secondary100: #CFFAFE;
  --neutro900: #111827;
  --neutro800: #1F2937;
  --neutro700: #374151;
  --neutro600: #4B5563;
  --neutro500: #6B7280;
  --neutro400: #9CA3AF;
  --neutro300: #D1D5DB;
  --neutro200: #E5E7EB;
  --neutro100: #F3F4F6;
  --neutro50: #F9FAFB;
  --white: #FFFFFF;
}

footer {
  background-color: var(--neutro900);
  color: var(--white);
}

.container {
  display: flex;
  flex-grow: 1;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}
