@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

:root {
  --primary600: #0876DD;
  --primary100: #E0F2FE;
  --secondary600: #29D2D3;
  --secondary100: #CFFAFE;
  --neutro900: #111827;
  --neutro800: #1F2937;
  --neutro700: #374151;
  --neutro600: #4B5563;
  --neutro500: #6B7280;
  --neutro400: #9CA3AF;
  --neutro300: #D1D5DB;
  --neutro200: #E5E7EB;
  --neutro100: #F3F4F6;
  --neutro50: #F9FAFB;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  outline: none;
  box-sizing: border-box;
}

footer {
  background-color: var(--neutro900);
  color: var(--white);
}

.container {
  display: flex;
  flex-grow: 1;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}


.display-2xl {
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -0.02em;
}

.display-xl {
  font-size: 56px;
  line-height: 72px;
  letter-spacing: -0.01em;
}

.display-lg {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.01em;
}

.display-md {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.01em;
}

.display-sm {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.01em;
}

.display-xs {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
}

.body-xl {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

.body-lg {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

.body-md {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.body-sm {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.body-xs {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}
