@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');

:root {
  --primary600: #0876DD;
  --primary100: #E0F2FE;
  --secondary600: #29D2D3;
  --secondary100: #CFFAFE;
  --neutro900: #111827;
  --neutro800: #1F2937;
  --neutro700: #374151;
  --neutro600: #4B5563;
  --neutro500: #6B7280;
  --neutro400: #9CA3AF;
  --neutro300: #D1D5DB;
  --neutro200: #E5E7EB;
  --neutro100: #F3F4F6;
  --neutro50: #F9FAFB;
  --white: #FFFFFF;
  --main-padding: 0 calc(3vw + 10px);
  --display-font-size: 56px;
  --display-line-height: 72px;
  --display-letter-spacing: -0.01em;
  --body-font-size: 20px;
  --body-line-height: 28px;
  --body-letter-spacing: 0.01em;
}

body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: auto;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


/* Reset Syles */

h1,
p {
  margin: 0;
}

h3 {
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

* {
  outline: none;
  box-sizing: border-box;
}

/* Layout */

header {
  padding: var(--main-padding);
  padding-bottom: 20px;
  padding-top: 20px;
}

main {
  padding: var(--main-padding);
}

footer {
  background-color: var(--neutro900);
  color: var(--white);
  display: flex;
  justify-content: center;
  padding: var(--main-padding);
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 3rem;
}

/* Components */

.logomark-icon {
  width: 48px;
  margin: 2rem;
}

.tool-img {
  width: 100px;
}

.registration-container {
  max-width: 1200px;
}

.tools-container {
  max-width: 490px;
}

.container {
  flex: 1;
  display: flex;
  flex-grow: 1;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.wrap {
  flex-wrap: wrap;
}

.img {
  width: 100%;
}

.demo-container {
  max-width: 768px;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.play-icon {
  margin-right: 8px;
}

.details {
  width: 100%;
}

/* Buttons  */

.button {
  height: 40px;
  font-size: 16px;
  padding: 12px 16px;
  border: unset;
  border-radius: 6px;
  font-weight: 600;
  background-position: center;
  transition: background 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: unset !important;
  text-shadow: unset !important;
  max-width: fit-content;
}

.bt-small {
  height: 40px;
  padding: 10px 16px;
  font-size: 14px;
}

.btn-primary {
  background-color: var(--primary600);
  color: var(--white);
}

.btn-primary:hover {
  cursor: pointer;
  background: var(--secondary600) radial-gradient(circle, transparent 1%, var(--secondary600) 1%) center/15000%;
}

.btn-primary:active {
  background-color: var(--primary100);
  background-size: 100%;
  transform: scale(1.05);
  transition: transform 0.1s;
}

.pill-button {
  display: inline-flex;
  background-color: var(--neutro50);
  padding: 16px, 20px, 16px, 16px;
  height: 64px;
  border-radius: 35px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: -32px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Typhograpy */

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.display {
  font-size: var(--display-font-size);
  line-height: var(--display-line-height);
  letter-spacing: var(--display-letter-spacing);
}

.body {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  :root {
    --display-font-size: 48px;
    --display-line-height: 60px;
    --body-font-size: 18px;
    --body-line-height: 28px;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --display-font-size: 36px;
    --display-line-height: 48px;
    --body-font-size: 16px;
    --body-line-height: 24px;
  }

  .registration-container,
  .tools-info,
  .details {
    flex-direction: column;
  }

  .feature {
    flex-direction: row;
  }

  .features-container {
    flex-direction: column;
  }

  .feature-image {
    width: 56px;
    margin-right: 1rem;
  }

  .tool-img {
    width: 88px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --display-font-size: 30px;
    --display-line-height: 40px;
    --body-font-size: 14px;
    --body-line-height: 20px;
  }
}

@media screen and (min-width: 768px) {

  .registration-container,
  .tools-info,
  .details {
    flex-direction: row;
    gap: calc(3vw + 10px);
  }

  .feature {
    flex-direction: column;
    text-align: center;
    min-width: 328px;
    max-width: 328px;
    padding: 5px;
    justify-content: center;
  }

  .features-container {
    max-width: 1310px;
    justify-content: space-evenly;
  }
}